<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台 后台</title>
	<link rel="stylesheet" href="../dist/css/banner.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity: status.isLoading}">
	<header>
	    <a href="javascript:;" class="hs1" v-on:touchstart="onReturn"></a>
		<h1 v-on:touchstart="onOther">返回</h1>
	</header>
	<h1 class="title">修改banner</h1>
  <!-- 图片预览 -->
  <div class="showImg" v-show="imgs.length>0">
    <div class="imgs" v-for="img in imgs">
      <img :src="img.img" alt="">
      <span @touchstart="remove($index)">删除</span>
    </div>
  </div>
	<!-- 上传图片的按钮 -->
  <div class="clickImg" @touchstart='onClickImg' v-show="imgs.length<5">
    <p><span>＋</span></p>
  </div>
	<!-- 上传图片的弹窗 -->
  <div class="tutorInfo" v-if="status.isUploadImg">
    <div class="greyScreen"></div>
    <form class="InfoList" v-on:submit.prevent='onSubmitImg'>
      <div class="client">
        <span>上传banner</span>
        <span class='close' @touchstart="onClose">×</span>
      </div>
      <div class="uploadImg">
        <span>＋</span>
        <input type="file" accept="image/*" @change="uploadPic">
        <img :src="form.image" alt="">
      </div>
      <div class="url">
        <span>网址</span>
        <input type="text" v-model='form.url'>
      </div>
      <div class="submitBtn">
        <input type="submit" value='确认上传'>
      </div>
    </form>
  </div>
  <!-- 是否删除banner的弹窗 -->
  <div class="tutorInfo" v-if="status.isDeleteImg">
    <div class="greyScreen"></div>
    <div class="InfoRequest">
        <div class="infoTip">
            <p>确定删除吗？</p>
        </div>
        <div class="infoBtn">
            <span v-on:touchstart="onSureDelete(status.selected)">确定</span>
            <span v-on:touchstart="onCancel">取消</span>
        </div>
    </div>
  </div>
	<div class="bottomBtn">
		<span v-on:touchstart="onUser">用户管理</span>
		<span class='deal' v-on:touchstart="onDeal">成交</span>
		<span class="active"  v-on:touchstart="onOther">其他</span>
	</div>
</div>
<script src="../dist/js/lrz.bundle.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../src/js/banner.js"></script>
</body>
</html>