<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台 后台</title>
	<link rel="stylesheet" href="../dist/css/detailedInfo.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity:status.Loading}">
	<header>
	    <a href="javascript:;" class="hs1" v-on:touchend="onReturn"></a>
		<h1 v-tap="onReturn()">返回</h1>
	</header>
	<!-- 列表详情 -->
	<div class="tutorDetailedInfo">
		<div class="InfoList">
			<div class="client">
				<span v-text="detailedList.name"></span>
				<span class='green' v-tap="onChangeRequest(detailedList.pd_id)" v-if="status.isChangeRst">修改需求</span>
			</div>
			<div class="info">
				<p>科目：<em v-text="detailedList.learning_phase"></em><em v-text="detailedList.grade"></em><em v-text="detailedList.subject"></em><em v-text="detailedList.subject_other"></em></p>
				<p>老师性别：<em v-text="detailedList.tearcer_sex"></em></p>
				<p>上课时间：<em v-text="detailedList.time"></em></p>
				<p>补课目的：<em v-text="detailedList.aim"></em></p>
				<p>孩子班级排名：<em v-text="detailedList.class_field"></em></p>
				<p>教学特点：<em v-text="detailedList.tearcer_method"></em><em v-text="detailedList.tearcer_method_other"></em></p>
				<p v-if='detailedList.require!==""'>其他要求：<em v-text="detailedList.require"></em></p>
				<p>时薪：<em v-text="detailedList.salary"></em></p>
				<p v-if='detailedList.bonus!==""'>补贴：<em v-text="detailedList.bonus"></em></p>
				<p>找到家教的日期：<em v-text="detailedList.deadline"></em>前</p>
				<p>联系电话：<em v-text="detailedList.tel"></em></p>
				<p>住址：<em v-text="detailedList.address"></em></p>
			</div>
			<div class="remindTeacher client">
				<span class='green' v-tap="onRemindParent(detailedList.pd_id)" v-if="status.isRemind">提醒家长</span>
			</div>
		</div>
	</div>
	<!-- 订单列表 -->
	<div class="orderList">
		<h1>订单列表</h1>
		<ul class="userList" v-show='status.isList' v-bind:class="{'opacity': !status.isSelecting}" v-scroll="down()" scroll-foot="50" scroll-top="200" scroll-up="up()">
			<li v-for="item in msgList" v-tap="onDetailedInfo($index)">
				<span v-text="item.name"></span>
				<span v-text="item.result" v-bind:class="{'red':item.isRed}"></span>
			</li>
		</ul>
		<!-- 当没有消息的时候，有提示 -->
	    <div class="noList" v-if='status.isNoList'>
	       该用户暂时还没有订单！
	    </div>
	</div>
	<!-- 家长订单列表-》老师简历,老师的信息 -->
	<div class="tutorInfo" v-if="status.isTutorInfo">
	    <div class="greyScreen"></div>
		<div class="InfoList">
			<div class="client">
			    <div class="image" v-if="msgDetailedList.certificate_photo">
			    	<img :src="msgDetailedList.certificate_photo" alt="">
			    </div>
				<div class="msgName">
					<span v-text="msgDetailedList.name"> 
					</span>
				    <span class='close' v-tap="onClose()">×</span>
				</div>
			</div>
			<div class="info">
				<p>性别：<em v-text="msgDetailedList.sex">
				</em></p>
				<p>专业：<em v-text="msgDetailedList.campus_major"></em></p>
				<p>相关成绩：<em v-text="msgDetailedList.score"></em></p>
				<p>可教科目：<em>
				{{msgDetailedList.grade}}{{msgDetailedList.subject}}{{msgDetailedList.subject_other}}
				</em></p>
				<p>时薪：<em>{{msgDetailedList.salary_bottom}}~{{msgDetailedList.salary_top}}</em></p>
				<p>上课时间：<em v-text="msgDetailedList.time"></em></p>
				<p>可接受地点：<em v-text="msgDetailedList.place"></em></p>
				<p>教学方法：<em>{{msgDetailedList.teacher_method}}{{msgDetailedList.teacher_method_other}}</em></p>
				<p>自我简介：<em v-text="msgDetailedList.self_comment"></em></p>
				<p>联系电话：<em v-text="msgDetailedList.tel">
				</em></p>
				<p>老师籍贯：<em v-text="msgDetailedList.native_place"></em></p>
			</div>
			<div class="showImg" v-if='msgDetailedList.teach_show_photo.length!==0'>
				<h3>家教秀</h3>
				<ul class="showImage">
                   <li v-for="item in msgDetailedList.teach_show_photo">
                   	<img v-bind:src="item" alt="" v-tap="showImg($index)">
                   </li>             
				</ul>
			</div>
			<div class="submitBtn" v-if='status.isDetailed'>
				<span v-tap="onDelete(form.selected)" v-text="status.text"></span>
			</div>
			<div class="submitBtn" v-if='status.onParent'>
				<input type="button" value="{{form.isRegister}}" v-bind:class="{'btn-success':status.isSuccess}" v-tap="onRegister1(form.selected)" >
			</div>
			<div class="infoBtn" v-if='status.onTeacher'>
                <span v-tap="onSelect(form.selected)">选择该老师</span>
                <span v-tap="onRefuse(form.selected)">拒绝该老师</span>
            </div>
		</div>
	</div>
	<!-- 发送请求 -->
	<div class="tutorInfo remindInfo" v-if="status.isRemindTeacher">
		<p v-text="msg.text">{{msg.text}}</p>
	</div>
	<div class="InfoTipOne" v-if="status.isInfoTipOne">
	    <p class='close' v-tap="onClose()">×</p>
		<p class="infoTip" v-text='status.errorTip'></p>
	</div>
	<div class="tutorInfo" v-if="status.isChangeInfo">
	    <div class="greyScreen"></div>
    	<div class="InfoTipOne InfoRequest">
    		<div class="infoTip">
    			<p>信息已发送，确定取消吗？</p>
    		</div>
    		<div class="infoBtn">
    			<span v-tap="onSureChange(form.selected)">确定</span>
    			<span v-tap="onClose()">取消</span>
    		</div>
    	</div>
    </div>
	<div class="bottomBtn">
		<span class="active" v-tap="onUser()">用户管理</span>
		<span class='deal' v-tap="onDeal()">成交</span>
		<span v-tap="onOther()">其他</span>
	</div>
	<div class="enlargeImg" v-if='status.isEnlargeImg'>
    	<img :src="status.enlargeImg" alt="" v-tap="closeImg()">
    </div>
</div>
<script src="../dist/js/vue.min.js"></script>
<script src='../dist/js/v-tap.min.js'></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/scroll.min.js"></script>
<script src="../src/js/detailedInfoParent.js"></script>
</body>
</html>