<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台 后台</title>
	<link rel="stylesheet" href="../dist/css/examineDetailed.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity: status.isLoading}">
	<header>
	    <a href="javascript:;" class="hs1" v-on:touchend="onReturn"></a>
		<h1 v-on:touchend="onReturn">返回</h1>
	</header>
	<div class="bottomBtn">
		<span v-on:touchend="onUser">用户管理</span>
		<span class='deal' v-on:touchend="onDeal">成交</span>
		<span class="active"  v-on:touchend="onOther">其他</span>
	</div>
	<!-- 家长需求信息详情 -->
	<div class="msgInfo" v-if='status.isParent'>
		<div class="client">
			<div class="msgName">
				<span> 
				家长 <em v-text="parentMsg.name"></em>
				</span>
			</div>
		</div>
		<div class="info">
			<p>科目：<em v-text="parentMsg.learning_phase"></em><em v-text="parentMsg.grade"></em><em v-text="parentMsg.subject"></em><em v-text="parentMsg.subject_other"></em></p>
			<p>老师性别：<em v-text="parentMsg.tearcer_sex"></em></p>
			<p>上课时间：<em v-text="parentMsg.time"></em></p>
			<p>补课目的：<em v-text="parentMsg.aim"></em></p>
			<p>孩子班级排名：<em v-text="parentMsg.class_field"></em></p>
			<p>教学特点：<em v-text="parentMsg.tearcer_method"></em><em v-text="parentMsg.tearcer_method_other"></em></p>
			<p v-if='parentMsg.require!==""'>其他要求：<em v-text="parentMsg.require"></em></p>
			<p>时薪：<em v-text="parentMsg.salary"></em></p>
			<p v-if='parentMsg.bonus!==""'>补贴：<em v-text="parentMsg.bonus"></em></p>
			<p>找到家教的日期：<em v-text="parentMsg.deadline"></em>前</p>
			<p>联系电话：<em v-text="parentMsg.tel"></em></p>
			<p>住址：<em v-text="parentMsg.address"></em></p>
		</div>
	</div>
	<!-- 老师简历信息详情 -->
	<div class="msgInfo" v-if='status.isTeacher'>
		<div class="client">
			<div class="image" v-if="tutorMsg.certificate_photo">
		    	<img v-bind:src="tutorMsg.certificate_photo" alt="">
		    </div>
			<div class="msgName">
				<span> 
				老师 <em v-text="tutorMsg.name"></em>
				</span>
			</div>
		</div>
		<div class="info">
			<p>性别：<em v-text="tutorMsg.sex">
			</em></p>
			<p>专业：<em v-text="tutorMsg.campus_major"></em></p>
			<p>相关成绩：<em v-text="tutorMsg.score"></em></p>
			<p>可教科目：<em>
			{{tutorMsg.grade}}{{tutorMsg.subject}}{{tutorMsg.subject_other}}
			</em></p>
			<p>时薪：<em>{{tutorMsg.salary_bottom}}~{{tutorMsg.salary_top}}</em></p>
			<p>上课时间：<em v-text="tutorMsg.time"></em></p>
			<p>可接受地点：<em v-text="tutorMsg.place"></em></p>
			<p>教学方法：<em>{{tutorMsg.teacher_method}}{{tutorMsg.teacher_method_other}}</em></p>
			<p>自我简介：<em v-text="tutorMsg.self_comment"></em></p>
			<p>联系电话：<em v-text="tutorMsg.tel">
			</em></p>
			<p>老师籍贯：<em v-text="tutorMsg.native_place"></em></p>
		</div>
		<div class="showImg" v-if='tutorMsg.teach_show_photo.length!==0'>
			<h3>家教秀</h3>
			<ul class="showImage">
	           <li v-for="item in tutorMsg.teach_show_photo">
	           	<img v-bind:src="item" alt="" v-on:touchend="showImg($index)">
	           </li>             
			</ul>
		</div>
	</div>
	<!-- 审核按钮 -->
	<div class="assume">
		<p class="bgreen" v-on:touchend="YesExamine">通过审核</p>
		<p v-on:touchend="notExamine">未通过审核</p>
	</div>
	<div class="enlargeImg" v-if='status.isEnlargeImg'>
      <img :src="status.enlargeImg" alt="" v-on:touchend="closeImg">
    </div>
</div>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/examineDetailed.min.js"></script>	
</body>
</html>