<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台 后台</title>
	<link rel="stylesheet" href="../dist/css/feedback.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity: status.isLoading}">
	<header>
	    <a href="./other.html" class="hs1"></a>
		<h1 v-tap="onReturn()">返回</h1>
	</header>
	<h1 class="title">用户反馈</h1>
	<ul class="msgList" v-bind:class="{'opacity': !status.isSelecting}" v-scroll="down()" scroll-foot="50" v-show='status.isList'>
		<li v-for="item in mainData" v-tap="onDetailedInfo($index)">
			<span v-text="item.name"></span>
			<span>
				<ul class='fXing'>
					<li v-bind:class='{active:item.one}'>
                    </li>
                    <li v-bind:class='{active:item.two}'>
                    </li>
                    <li v-bind:class='{active:item.three}'>
                    </li>
                    <li v-bind:class='{active:item.four}'>
                    </li>
                    <li v-bind:class='{active:item.five}'>
                    </li>
				</ul>
			</span>
		</li>
	</ul>
    <!-- 当没有消息的时候，有提示 -->
    <div class="noList" v-if='status.isNoList'>
        对不起，暂时还没有用户反馈！
    </div>
	<!-- 反馈弹窗 -->
	<div class="feedback" v-if="status.isFeedBack">
        <div class="greyScreen"></div>
        <div class="feedbackCon">
            <div class="fTitle">
                <h3>用户反馈</h3>
                <span v-tap="onClose()">×</span>
            </div>
            <div class="fXing">
                <span>{{msgList.name}}</span>
                <ul>
                    <li v-bind:class='{active:msgList.one}'>
                    </li>
                    <li v-bind:class='{active:msgList.two}'>
                    </li>
                    <li v-bind:class='{active:msgList.three}'>
                    </li>
                    <li v-bind:class='{active:msgList.four}'>
                    </li>
                    <li v-bind:class='{active:msgList.five}'>
                    </li>
                </ul>
            </div>
            <div class="tutorService">
                <p>家教服务：</p>
                <div v-text="msgList.tutorservice"></div>
            </div>
            <div class="appService">
                <p>平台服务：</p>
                <div v-text="msgList.appservice"></div>
            </div>
        </div>
    </div>
	<div class="bottomBtn">
		<span v-tap="onUser()">用户管理</span>
		<span class='deal' v-tap="onDeal()">成交</span>
		<span class="active"  v-tap="onReturn()">其他</span>
	</div>
</div>
<script src="../dist/js/vue.min.js"></script>
<script src='../dist/js/v-tap.min.js'></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/scroll.min.js"></script>
<script src="../dist/js/feedback.min.js"></script>
</body>
</html>