<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/myList.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity:!status.Loading}">
	<header>
	    <a href="./other.html" class="hs1"></a>
		<h1 v-tap="onReturn()">返回</h1>
	</header>
	<!-- 页面关于我的老师的列表 -->
	<ul class="tutorList" v-scroll="down()" scroll-foot="50" scroll-top="200" scroll-up="up()" v-show='status.isTutor'>
		<li v-for='item in tutorList' v-tap="onTutorInfo($index)">
			<div class="nameMsg">
				<div class="name">
					<em v-text="item.name"></em>
					<em v-text="item.create_time"></em>
				</div>
				<div class="subject">
					<em v-text="item.subject"></em>
					<em>{{item.learning_phase}}{{item.grade}}</em>
					
				</div>
			</div>
		</li>
	</ul>
	<!-- 当没有消息的时候，有提示 -->
    <div class="noTutor" v-if='status.isNoTutor'>
    	对不起，暂时您还没有创建任何订单！
    </div>	
</div>
<script src="../dist/js/vue.min.js"></script>
<script src='../dist/js/v-tap.min.js'></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/scroll.min.js"></script>
<script src="../dist/js/myList.min.js"></script>
</body>
</html>