<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/style.min.css">
</head>
<body>
    <div class="container">
		<a href="parentQuestion.html">
		  <span v-on:touchstart='onParent'>我是家长</span>
		</a>
		<a href="teacherResume.html">
		  <span v-on:touchstart='onTeacher'>我是老师</span>
		</a>
	</div>
</body>
</html>