<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/myTeacher.min.css">
</head>
<body v-bind:class="{'overY': status.overY}">
<div class="container" v-bind:class="{opacity:!status.Loading}">
	<header>
	    <a href="./parentMyPage.html" class="hs1"></a>
		<h1 v-tap="onReturn()">返回</h1>
	</header>
	<!-- 页面关于我的老师的列表 -->
	<ul class="tutorList" v-scroll="down()" scroll-foot="50" scroll-top="200" scroll-up="up()" v-show='status.isTutor'>
		<li v-for='item in tutorList' v-tap="onTutorInfo($index)">
			<div class="nameMsg">
				<p class="name">
					<em v-text="item.name"></em>
					<em v-text="item.result" v-bind:class="{red:item.isRed}"></em>
				</p>
			</div>
		</li>
	</ul>
	<!-- 当没有消息的时候，有提示 -->
    <div class="noTutor" v-if='status.isNoTutor'>
    	对不起，暂时还没有关于您的老师订单消息！
    </div>
	 <!-- 家教信息详情 -->
	<div class="tutorInfo" v-if="status.isTutorInfo">
	    <div class="greyScreen"></div>
		<div class="InfoList">
			<div class="infoMsg">
				<div class="client">
				    <div class="image" v-if="detailedList.certificate_photo">
				    	<img v-bind:src="detailedList.certificate_photo" alt="">
				    </div>
					<div class="msgName">
						<span v-text="detailedList.name"> 
						</span>
					    <span class='close closeSize' v-tap="onClose()">×</span>
					</div>
				</div>
				<div class="info">
					<p>性别：<em v-text="detailedList.sex">
					</em></p>
					<p>专业：<em v-text="detailedList.campus_major"></em></p>
					<p>可教年级：<em v-text="detailedList.grade"></em></p>
					<p>可教科目：<em>
					{{detailedList.subject}}{{detailedList.subject_other}}
					</em></p>
					<p>时薪：<em>{{detailedList.salary_bottom}}~{{detailedList.salary_top}}</em></p>
					<p>上课时间：<em v-text="detailedList.time"></em></p>
					<p>可接受地点：<em v-text="detailedList.place"></em></p>
					<p>教学方法：<em>{{detailedList.teacher_method}}{{detailedList.teacher_method_other}}</em></p>
					<p>相关成绩：<em v-text="detailedList.score"></em></p>
					<p>自我简介：<em v-text="detailedList.self_comment"></em></p>
					<p>老师籍贯：<em v-text="detailedList.native_place"></em></p>
					<p v-if='detailedList.expectation'>对家教的设想：<em v-text="detailedList.expectation"></em></p>
				</div>
				<div class="showImg" v-if='detailedList.teach_show_photo.length!==0'>
					<h3>家教秀</h3>
					<ul class="showImage">
	                   <li v-for="item in detailedList.teach_show_photo">
	                   	<img v-bind:src="item" alt="" v-tap="showImg($index)">
	                   </li>             
					</ul>
				</div>
			</div>
			<div class="submitBtn" v-if='status.onParent'>
				<input type="button" value="{{form.isRegister}}" v-bind:class="{'btn-success':status.isSuccess}" v-tap="onRegister1(form.selected)" >
			</div>
			<div class="infoBtn" v-if='status.onTeacher'>
                <span v-tap="onSelect(form.selected)">选择该老师</span>
                <span v-tap="onRefuse(form.selected)">拒绝该老师</span>
            </div>
		</div>
	</div>
	<div class="InfoTipOne" v-if="status.isInfoTipOne">
	    <p class='close closeSize' v-tap="onClose()">×</p>
		<p class="infoTip" v-text='status.errorTip'></p>
	</div>
	<div class="tutorInfo" v-if="status.isChangeInfo">
	    <div class="greyScreen"></div>
    	<div class="InfoTipOne InfoRequest">
    		<div class="infoTip">
    			<p><em v-text="form.isMsg"></em>已发送，确定取消吗？</p>
    		</div>
    		<div class="infoBtn">
    			<span v-tap="onSureChange(form.selected)">确定</span>
    			<span v-tap="onClose()">取消</span>
    		</div>
    	</div>
    </div>
    <div class="enlargeImg" v-if='status.isEnlargeImg'>
    	<img :src="status.enlargeImg" alt="" v-tap="closeImg()">
    </div>
</div>
<script src="../dist/js/vue.min.js"></script>
<script src='../dist/js/v-tap.min.js'></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/scroll.min.js"></script>
<script src="../dist/js/myTeacher.min.js"></script>
</body>
</html>