<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/parentAllTutor.min.css">
</head>
<body>
<div class="container" v-bind:class="{'opacity': status.isLoading}">
	<div class="bottomBtn">
		<span class='active' v-tap="onRecommend()">推荐老师</span>
		<span v-tap="onMine()">我的</span>
	</div>
	<div class="consult">
		<a href="http://wpa.qq.com/pa?p=2::52">
			<em>客服</em>
			<em>咨询</em>
		</a>
	</div>
	<!-- 全部老师 -->
    <div class="recommendTutor">
    	<header>
    		<p><em>提示：</em>1. 每次只能选择一名老师进行试课哦~</p>
    		<p class='blank'>2. 地址是用微信定位的地址，不代表用户的住址</p>
	    	<div class="recommendBtn">
	    		<span v-tap="onRecommend()">为您推荐</span>
			    <span class='active' v-tap="onAllTutor()">全部老师</span>
	    	</div>
    	</header>
	    <!-- 轮播 -->
		<div v-el:swipe id='swipe' class='swipe bar-slider' v-if='swipeinfo.length>0'>
		    <div class='swipe-wrap'>
		        <div v-for="item in swipeinfo"><a :href='item.url'><img :src='item.img' /></a></div>
		    </div>
		    <!-- 分页 -->
		    <div class="pagination">
		        <span class="swipe-pagination-switch swipe-active-switch" @touchstart="slideToCur(0)"></span>
		        <span class="swipe-pagination-switch" @touchstart="slideToCur($index+1)" v-for="item in slideNum"></span>
		    </div>
		</div>
	    <!-- 选择 -->
        <form class="search" v-on:submit.prevent="onSubmitSearch" v-bind:class='{"noBanner":status.isBanner}'>
			<div class="subject">
				<select v-model='change.subject'>
					<option v-for='subject in formGroup[0].value' v-bind:value="subject.tag">
						{{subject.tag}}
					</option>
				</select>
			</div>
			<div class="grade">
				<select v-model='change.grade' v-on:change="onSelectGrade">
					<option v-for='subject in grade' v-bind:value="subject.tag">
						{{subject.tag}}
					</option>
				</select>
			</div>
			<div class="popular">
				<select v-model='form.hot' v-on:change="onSelectChange">
					<option v-for='subject in formGroup[3].value' v-bind:value="subject.key">
						{{subject.tag}}
					</option>
				</select>
			</div>
		</form>
		<!-- 家教信息列表 -->
        <ul class="tutorList" v-scroll="down()" scroll-foot="30" scroll-top="200" scroll-up="up()" v-show='status.isTutor'>
			<li v-for='item in recommendList' v-tap="onTutorInfo($index)">
				<div class="image">
			    	<img v-bind:src="item.certificate_photo">
			    </div>
				<div class="rightMsg">
					<p class="name">
						<em v-text="item.name"></em>
						<em v-text="item.isInvited" v-bind:class="{red:item.isRed}"></em>
					</p>
					<p class="subject">
						<em v-text="item.subject"></em>
						<em v-text="item.grade"></em>
						<span v-if="item.distance!==0">距您{{item.distance}}km</span>
					</p>
					<p class="address">
						<em>老师位置</em>
						<span v-text="item.address"></span>
					</p>
				</div>
			</li>
		</ul>	
		<!-- 当没有消息的时候，有提示 -->
        <div class="noTutor" v-if='status.isNoTutor'>
        	对不起，暂时没有您要找的老师，请选择别的老师！
        </div>
			
    </div>

    <!-- 家教信息详情 -->
	<div class="tutorInfo" v-if="status.isTutorInfo">
	    <div class="greyScreen"></div>
		<div class="InfoList">
			<div class="client">
			    <div class="image">
			    	<img v-bind:src="detailedList.certificate_photo" alt="">
			    </div>
				<div class="msgName">
					<span> 
					{{detailedList.name}}
					</span>
				    <span class='close' v-tap="onClose()">×</span>
				</div>
			</div>
			<!-- <div class="distance">
				<span>距您{{detailedList.distance}}
				km</span>
			</div> -->
			<div class="info">
				<p>性别：<em>
				{{detailedList.sex}}
				</em></p>
				<p>专业：<em>
				{{detailedList.campus_major}}
				</em></p>
				<p>可教年级：<em>{{detailedList.grade}}</em></p>
				<p>可教科目：<em>
				{{detailedList.subject}}{{detailedList.subject_other}}
				</em></p>
				<p>上课时间：<em>{{detailedList.time}}</em></p>
				<p>可接受地点：<em>{{detailedList.place}}</em></p>
				<p>教学方法：<em>{{detailedList.teacher_method}}{{detailedList.teacher_method_other}}</em></p>
				<p>相关成绩：<em>{{detailedList.score}}</em></p>
				<p>个人简介：<em>{{detailedList.self_comment}}</em></p>
				<p>时薪：<em>{{detailedList.salary_bottom}}~{{detailedList.salary_top}}</em></p>
				<p>老师籍贯：<em>{{detailedList.native_place}}</em></p>
			</div>
			<div class="showImg" v-if='detailedList.teach_show_photo.length!==0'>
				<h3>家教秀</h3>
				<ul class="showImage">
                   <li v-for="item in detailedList.teach_show_photo">
                   	<img v-bind:src="item" alt="" v-tap="showImg($index)">
                   </li>             
				</ul>
			</div>
			<div class="submitBtn">
				<input type="button" value="{{status.isRegister}}" v-bind:class="{'btn-success':status.isSuccess,'btn-default':status.isDefault}" v-tap="onRegister1(status.selected)" >
			</div>
		</div>
	</div>
	<div class="InfoTipOne" v-if="status.isInfoTipOne">
	    <p class='close' v-tap="onClose()">×</p>
		<p class="infoTip" v-text='status.errorTip'></p>
	</div>
	<div class="enlargeImg" v-if='status.isEnlargeImg'>
    	<img :src="status.enlargeImg" alt="" v-tap="closeImg()">
    </div>
</div>
<script src="../dist/js/vue.min.js"></script>
<script src='../dist/js/v-tap.min.js'></script>
<script src="../dist/js/vue-resource.min.js"></script>  
<script src="../dist/js/lubo.min.js"></script>   
<script src="../dist/js/scroll.min.js"></script> 
<script src="../dist/js/parentAllTutor.min.js"></script>
</body>
</html>