<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/parentMyPage.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity: status.isLoading}">
    <div class="bottomBtn">
        <span @touchstart="onRecommend">推荐老师</span>
        <span class="active"@touchstart="onMine">我的</span>
    </div>
    <!-- "我的"详细内容 -->
    <div class="myInfo">
        <figure>           
            <img v-bind:src="form.myImg" alt="">           
            <figcaption v-text='form.name'>张老师</figcaption>
        </figure>
        <div class="mainInfo">
            <div class="changeInfo" v-on:touchend="onchangeInfo">
                修改需求
            </div>
            <div class="myMsg" v-on:touchend="onMsg">
                我的消息
            </div>
            <div class="myList" v-on:touchend="onTeacher">
                我的老师
            </div>
            <div class="remindInfo">
                消息提醒
                <input type="checkbox" checked="checked">
                <div class="remindBtn">    
                    <span>
                        <em></em>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <!-- 修改请求的弹窗 -->
    <div class="tutorInfo" v-if="status.isChangeInfo">
        <div class="greyScreen"></div>
        <div class="InfoTipOne InfoRequest">
            <div class="infoTip">
                <p>如果临时修改请求，</p>
                <p>可能会流失现在报名的教师哦~</p>
                <p class="strong">确定修改请求吗？</p>
            </div>
            <div class="infoBtn">
                <span v-on:touchend="onSureChange">确定</span>
                <span v-on:touchend="onCancel">取消</span>
            </div>
        </div>
    </div>
</div>
<script src="../dist/js/lrz.bundle.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/vue-resource.min.js"></script>
<script src="../dist/js/parentMyPage.min.js"></script>
</body>
</html>