<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>好学吧家教服务平台</title>
	<link rel="stylesheet" href="../dist/css/tutorLogin.min.css">
</head>
<body>
<div class="container" v-bind:class="{opacity:status.isLoading}">
	<h2>请输入信息完成登录</h2>
	<div class="text-error" v-if="hintData.status">
		<span v-text="hintData.text"></span>
		<span v-on:touchstart="offHint">×</span>
	</div>
	<form action="" v-on:submit.prevent="onSubmit">
	  <div class="msgName">
	  	<label for=""></label>
	  	<input type="text" placeholder="输入姓名"  required="" maxlength="16" v-model="form.name">
	  </div>
	  <div class="msgStatus">
	    <h5>我是</h5>
	  	<div class="undergraduate">
	  	    <input type="radio" name='student' value="本科生" v-model="form.student" required>
	  		<span>本科生</span>		  		
	  	</div>
	  	<div class="postgraduate">		  	
	  		<input type="radio" name='student' value="研究生" v-model="form.student" required>
	  		<span>研究生</span>
	  	</div>
	  	<div class="graduate">		  	
	  		<input type="radio" name='student' value="毕业生" v-model="form.student" required>
	  		<span>毕业生</span> 
	  	</div>
	  </div>
	  <div class="stId" v-if="status.stId">
	  	<label for=""></label>
	  	<input type="text" placeholder="填写学号" required="" maxlength="16" v-model="form.stId">
	  </div>
	  <div class="msgAgree">
	  	<input type="radio" name='agree' required v-model='form.agree'>
	  	<label for="">我已阅读并同意《接单须知》</label>
	  </div>
	  <div class="login">
	  
	  	<input type="submit" class="btn-default" v-bind:class={btn-success:status.isBtn} v-if="!status.isSubmit" value="确认登录">
		<input type="submit" v-else class="btn-success" value="loading..." disabled="disabled">
	  </div>
	</form>
	<!-- 提示位置获取 -->
    <div class="getLocation" v-if='status.getLocation'>
    	<div class="greyScreen"></div>
    	<div class="locationCon">
    		<div class="infoTip">
    			<p>好学吧要对您进行定位，方便测量您与家长之间的距离，是否允许？</p>
    		</div>
            <div class="infoBtn">
                <span v-on:touchstart="onAllow">允许</span>
                <span v-on:touchstart="onCancel">拒绝</span>
            </div>
    	</div>
    </div>
</div>	

<script src="../vue/vue.min.js"></script>
<script src="../vue/vue-resource.min.js"></script>
<script src="../src/js/tutorLogin.js"></script>
</body>
</html>